
h1 {
	border-style: ridge;
    border-width: 2px;
    border-color: #024B8D;
}

body {
	font-family: 'Helvetica', 'open Sans', sans-serif;
	font-size: 16px;
	color: #024B8D;
	background-color: #E6E6E6;
	margin: 20px;
    padding: 30px;
}

.formatImg {
	padding: 50px;
	vertical-align: middle;
	background: #C4D4E3;
}

p {
	margin-left: 35px;
	color: #00001F;
	background-color: #B8B8B8;
	padding: 20px;
}

.combinedPara {
	background-color: #B8B8B8;
	margin-left: 35px;
}


nav {
	background-color: #CFCFCF;
	text-decoration: none;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
	margin-left: 45px;
}

h2 {
	font-size: 1.3em;
	padding: 20px;
}
li{
	padding-left: 20px;
	color: #000000;
}