
h1{
	
}

body{
	font-family: helvetica, sans-serif;
	font-size: 16px;
	color: green;
	background-color: #D2D2D2;
	margin: 20px;
    padding: 40px;
}

.img{
	padding: 50px;
	text-align: center;
	background: #A4A4A4;
}

p{
	color: red;
	background-color: #D2D2D2;
}