
h1{
	
}

body{
	font-family: helvetica, sans-serif;
	font-size: 16px;
	color: green;
	background-color: #D2D2D2;
	margin: 20px;
    padding: 40px;
}

.formatImg{
	padding: 50px;
	vertical-align: middle;
	background: #BDBDBD;
}

p{
	color: red;
	background-color: #D2D2D2;
}